.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.admin-title{
  font-size: 44px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #fffb00, #99ff00, #00e1ff, #3c00ff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowing-text 4s infinite linear;
}

.test{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: center;
}

.event-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  background-color: gray;
  gap: 15px;
  margin-bottom: 20px;
}

.input-admin,
.textarea-admin {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.textarea-admin {
  height: 80px;
  resize: none;
}

.input-admin-img {
  width: 35%;
  padding: 5px;
}

.addbtn{
  margin-bottom: 15px;
}

.addbtn:hover {
  background: #0056b3;
}
  
.suggestioncontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.resug {
  display: flex;
  margin-right: auto;
  margin-left: 20px;
  width: 100%;
}
.suggestion-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.suggestion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  gap: 5px;
  background: white;
  padding: 10px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestion-desc {
    max-width: 100%;
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  

.showpast {
  background: red;
  width: 20%;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}
